@charset "UTF-8";

// Font, line-height, and color for body text, headings, and more.
@import url('https://fonts.googleapis.com/Work+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Dosis');

$font-family-base: 'Work Sans', sans-serif;
h1, h2, h3, h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 50px;
    margin-left: 128px;
    color: #C6313B;
}

.hex_code {
    color: white;
    font-weight: bold;
}

//
// Color system
//
$primair-kleur:   #1C2032;
$primair-kleur:   $primair-kleur;

// bootstrap
//
.btn-primary {
    background-color: #C6313B;
    color: white;
    border-color: #C6313B;
}

.btn-primary:hover {
    background-color: #1c2032;
    color: white;
    border-color: #1c2032;
}

.btn-secondary {
    background-color: #004355;
    color: white;
    border-color: #004355;
}

.btn-secondary:hover {
    background-color: #B93F1D;
    color: white;
    border: 2px solid #004355;
}

.form {
    background-color: #B93F1D;
}

.question {
    color: white;
    font-weight: bold;
}

input {
    border:none;
    border-radius:none;
}

.primary-color {
    background-color: #1C2032;
}

.secondary-color {
    background-color: #C6313B;
}

.color-red {
    background-color: #C6313B;
}

.color-blue {
    background-color: #1C2032;
}

.color-white {
    background-color: #e2e1e0;
}

.color-blue, .color-red, .color-white {
    width: 180px;
    height: 180px;
}

.color-name {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.form-control {
    border: 1px solid #C6313B;
}

.icon_bol, .icon_menu {
    width: 80%,
}

table {
    margin-bottom: 50px;
}