@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/Rubik+Mono+One');
@import url('https://fonts.googleapis.com/Work+Sans:700');



h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-weight: bold;
    color:#c6313B;
}

h1 {
    margin-top: 50px;
}

p {
    font-family: 'dosis', sans-serif;
    font-size: 20px;
}

.btn-primary {
    background-color: #1c2032;
    color: #e2e1e0;
}

.btn-primary:hover {
    background-color: #c6313B;
    color: #e2e1e0;
}
